.container{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2em;

        &--photographe{
            @include screen_max(desktop) {
                width: 95%;
            }
        }
}

