.top {
    width: 100%;
}

header.index {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    width: 80%;

    @include screen_max(tablet){
        display: contents;
        width: 85%;
    }

    .logo {
        img {
            height: 5em;
            margin-left: 9em;
        
            @include screen_max(tablet){
                margin: 1em;
                height: 4em;
            }
        }
    }
}

