.lightBox {
    display: none;
    
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border-radius: 0.3em;
    border: 1px solid black;
    
    height: 60em;
    width: 60em;

    @include screen-max (mobile) {
        height: 30em;
        width: 30em;
    }

    @include screen-max (mobile, landscape) {
        height: 30em;
        width: 30em;
    }

    &--content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &--media {
        padding-top: 2em;
        width: 80%;

        figure {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 55em;
            object-fit: cover;
            border-radius: 0.5em;

            @include screen-max (mobile) {
                height: 25em;
            }

            @include screen-max (mobile, landscape) {
                height: 25em;
            }
        }

        video {
            width: 100%;
            height: 55em;
            object-fit: cover;
            border-radius: 0.5em;

            @include screen-max (mobile) {
                height: 25em;
            }

            @include screen-max (mobile, landscape) {
                height: 25em;
            }
        }

        figcaption {
            font-size: 1.3em;
            font-weight: 500;
            padding-top: 0.2em;
            @include font-texte;
            text-align: left;
            color: $color-secondary;

            :nth-child(2) {
                display: none;
            }

        }
    }

    &--nav {
        width: 10%;
        button {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

}