.modal {
    display: none;
    position: fixed;
    z-index: 1;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);

    &--content {

        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 50em;
        width: 40em;
        background-color: $color-secondary-font;
        border-radius: 0.3em;
        border: 1px solid black;

        padding-top: 2em;
        padding-left: 1.5em;

        @include screen_max(mobile) {
            width: 100%;
            box-shadow: 0 0 0 0;
            height: 45em;
        }
    
        @include screen_max(mobile, landscape) {
            box-shadow: 0 0 0 0;
            height: 25em;
            overflow: scroll;
            padding-bottom: 2em;
        }

        h1 {
            width: 60%;
            position: initial;
            top: unset;
            left: unset;
            color: black;

            @include screen_max(mobile) {
                font-size: 2.2em;
            }
            
            @include screen_max(mobile, landscape) {
                font-size: 2.5em;
            }
        }

        div.form--data {
            margin-top: 0.8em;

            label {
                display: block;
                font-size: 1.6em;
                font-weight: 100;
                margin-bottom: 0.15em;
            }
        
            input {
                width: 76%;
                padding: 0.5em;
                border: 0.8px solid #ccc;
                outline: none;
                background-color: white;

                @include screen_max(mobile) {
                    width: 88%;
                }

                @include screen_max(mobile, landscape) {
                    width: 76%;
                }
            }

        }

    }

    &--msg{

        @include screen_max(mobile) {
            width: 91%;
        }
    }

}