.modal {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50em;
    width: 40em;
    background-color: $color-secondary-font;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em $color-gray;
    display: none;

    @include screen_max(mobile) {
        width: 100%;
        box-shadow: 0 0 0 0;
        height: 45em;
    }

    @include screen_max(mobile, landscape) {
        box-shadow: 0 0 0 0;
        height: 25em;
        overflow: scroll;
    }

    &--content {
        padding-top: 2em;
        width: 100%;
        padding-left: 1.5em;

        h1 {
            width: 60%;
            position: initial;
            top: unset;
            left: unset;
            color: black;

            @include screen_max(mobile) {
                font-size: 2.2em;
            }
            
            @include screen_max(mobile, landscape) {
                font-size: 2.5em;
            }
        }

        div.form--data {
            margin-top: 0.8em;

            label {
                display: block;
                font-size: 1.6em;
                font-weight: 100;
                margin-bottom: 0.15em;
            }
        
            input {
                width: 90%;
                padding: 0.5em;
                border: 0.8px solid #ccc;
                outline: none;
                background-color: white;

                @include screen_max(mobile) {
                    width: 88%;
                }

                @include screen_max(mobile, landscape) {
                    width: 80%;
                }
            }

        }

    }

    &--msg{

        @include screen_max(mobile) {
            width: 91%;
        }
    }

}