*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  background-color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  /* 10px = 1em */
  font-size: 62.5%;
}

body {
  font-size: 1.2em;
}

h1 {
  font-size: 2.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #901C1C;
  font-weight: 200;
  position: absolute;
  right: 1em;
  top: 1em;
}
@media screen and (max-width: 767px) {
  h1 {
    font-weight: 100;
    font-size: 1.3em;
    top: 3.2em;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 6em;
  line-height: 2.5em;
}
@media screen and (max-width: 991px) {
  .tags {
    width: 90%;
    margin-left: 0;
  }
}

.tag span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: #525252 0.1em solid;
  border-radius: 1.5em;
  font-size: 1em;
  font-weight: 500;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0.1em;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .tag span {
    margin-right: 0.3em;
    margin-bottom: 0.5em;
  }
}
.tag input {
  display: none;
}
.tag input:checked ~ span {
  color: white;
  background-color: #901C1C;
}
.tag input:not(:checked) ~ span {
  color: #901C1C;
  background-color: white;
}
.tag input:hover ~ span {
  color: black;
  background-color: #d3573c;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  line-height: 1.5em;
  margin-top: 4em;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .card {
    width: 100%;
  }
}
.card--image {
  height: 17em;
  width: 17em;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 2em;
}
.card--name {
  color: #d3573c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.card--localisation {
  color: #901C1C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
.card--description {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}
.card--price {
  color: #525252;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}
.card--nav {
  margin-left: 0;
}
.card--photographer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2em;
}

.top {
  width: 100%;
}

header.index {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: space-around;
  width: 80%;
}
@media screen and (max-width: 991px) {
  header.index {
    display: contents;
    width: 85%;
  }
}
header.index .logo img {
  height: 5em;
  margin-left: 2em;
}
@media screen and (max-width: 991px) {
  header.index .logo img {
    margin: 1em;
    height: 4em;
  }
}

header.photographer .logo img {
  height: 3em;
  margin-left: 5em;
}
@media screen and (max-width: 991px) {
  header.photographer .logo img {
    height: 4em;
  }
}

/*# sourceMappingURL=style.css.map */
