@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  outline: none;
  background-color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  /* 10px = 1em */
  font-size: 62.5%;
}

body {
  font-size: 1.2em;
}

h1 {
  font-size: 2.6em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #901C1C;
  font-weight: 200;
  position: absolute;
  right: 1em;
  top: 1.2em;
}
@media (orientation: portrait) and (max-width: 767px) {
  h1 {
    font-weight: 100;
    font-size: 1.3em;
    top: 3.2em;
  }
}

h3 {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 2.5em;
}
.tags--left {
  justify-content: left;
}

.tag--disabled {
  pointer-events: none;
}
.tag span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: #525252 0.1em solid;
  border-radius: 1.5em;
  font-size: 1em;
  font-weight: 500;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0.1em;
  cursor: pointer;
}
@media (orientation: portrait) and (max-width: 991px) {
  .tag span {
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }
}
.tag input {
  display: none;
}
.tag input:checked ~ span {
  color: white;
  background-color: #901C1C;
}
.tag input:not(:checked) ~ span {
  color: #901C1C;
  background-color: white;
}
.tag input:hover ~ span {
  color: black;
  background-color: #DB8876;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  line-height: 1.5em;
  margin-top: 4em;
  text-align: center;
}
@media (orientation: portrait) and (max-width: 991px) {
  .card {
    width: 100%;
  }
}
.card--image {
  height: 17em;
  width: 17em;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 2em;
}
@media (orientation: landscape) and (max-width: 767px) {
  .card--image {
    height: 12em;
    width: 12em;
  }
}
.card--name {
  color: #DB8876;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
@media (orientation: landscape) and (max-width: 767px) {
  .card--name {
    line-height: 0.9em;
  }
}
.card--localisation {
  color: #901C1C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
.card--description {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}
.card--price {
  color: #525252;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}
.card--nav {
  margin-left: 0;
}
.card__photographer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
}
@media (orientation: portrait) and (max-width: 991px) {
  .card__photographer {
    background-color: white;
    line-height: 1em;
    width: 95%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .card__photographer .card--name {
    margin-bottom: 0.5em;
  }
}
.card__photographer .card--info {
  text-align: left;
  padding-left: 2em;
}
@media (orientation: portrait) and (max-width: 1199px) {
  .card__photographer .card--info {
    order: 1;
    width: auto;
    padding-left: 0.5em;
  }
}
.card__photographer .card--contact {
  align-self: flex-start;
  text-align: left;
}
@media (orientation: portrait) and (max-width: 1199px) {
  .card__photographer .card--contact {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
  }
}
.card__photographer .card--link {
  width: 50%;
  padding-right: 2em;
}
@media (orientation: portrait) and (max-width: 1199px) {
  .card__photographer .card--link {
    order: 2;
    width: auto;
    padding-right: 0.5em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .card__photographer .card--link {
    width: 20%;
  }
}
.card__photographer .card--image {
  float: right;
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 100%;
}
@media (orientation: portrait) and (max-width: 1199px) {
  .card__photographer .card--image {
    height: 8em;
    width: 8em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .card__photographer .card--image {
    height: 8em;
    width: 8em;
  }
}

.btn {
  background-color: #901C1C;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  border: unset;
  border-radius: 0.3em;
  cursor: pointer;
}
.btn--contact {
  padding-top: 0.8em;
  padding-bottom: 0.87em;
  padding-left: 0.5em;
  padding-right: 0.3em;
  width: 10.5em;
  height: 3.5em;
}
.btn--action {
  background-color: unset;
  font-size: 2.5em;
}
.btn--action--red {
  color: #901C1C;
}
.btn--action--red:hover {
  color: #DB8876;
}
.btn--action--white {
  color: white;
}
.btn--action--white:hover {
  color: #901C1C;
}
.btn--close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
@media (orientation: portrait) and (max-width: 767px) {
  .btn--close {
    top: 0.2em;
    right: 0.2em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .btn--close {
    top: 0.2em;
    right: 0.2em;
  }
}
.btn--modal {
  margin-top: 2em;
  padding: 1em;
}
@media (orientation: portrait) and (max-width: 767px) {
  .btn--modal {
    position: relative;
    left: 50%;
    transform: translateX(-70%);
    right: 0;
  }
}

.medias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
@media (orientation: landscape) and (max-width: 767px) {
  .medias {
    margin-top: 1em;
    justify-content: space-around;
  }
}

.media {
  width: 30%;
}
@media (orientation: portrait) and (max-width: 767px) {
  .media {
    width: 100%;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .media {
    width: 50%;
  }
}
.media figure {
  margin: 3em;
}
@media (orientation: landscape) and (max-width: 767px) {
  .media figure {
    margin: 0;
    margin-bottom: 1em;
  }
}
.media figcaption {
  font-size: 1.3em;
  font-weight: 500;
  padding-top: 0.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: #901C1C;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.media img {
  height: 25em;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}
@media (orientation: landscape) and (max-width: 767px) {
  .media img {
    height: 15em;
  }
}
.media video {
  height: 25em;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}
.media .liked {
  color: #e20707;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}
.menu--content {
  position: relative;
  display: inline-block;
  color: white;
  background-color: #901C1C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  width: 9em;
  padding: 1em;
  margin-left: 1em;
}
.menu--content::after {
  content: "⮝";
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  padding: 1em;
  transition: all 0.3s;
}
.menu--content:hover span {
  font-weight: bold;
}
.menu--content:hover .menu--items {
  display: block;
}
.menu--content:hover::after {
  transform: rotate(180deg);
}
.menu--items {
  display: none;
  position: absolute;
  color: white;
  background-color: #901C1C;
  top: 3.1em;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.menu--items p {
  padding: 1em;
  width: 9em;
  border-top: 1px solid white;
}
.menu--items p:hover {
  font-weight: bold;
}
@media (orientation: portrait) and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.floatingInfos {
  position: fixed;
  z-index: 10;
  left: calc(((100% - min(100%, 1400px)) / 2) + min(100%, 1400px) - 17em);
  bottom: 0vh;
  width: 15em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #DB8876;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (orientation: portrait) and (max-width: 767px) {
  .floatingInfos {
    display: none;
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 2em;
}
@media (orientation: portrait) and (max-width: 1199px) {
  .container--photographe {
    width: 100%;
  }
}

.top {
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50em;
  width: 40em;
  background-color: #DB8876;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #525252;
  display: none;
}
@media (orientation: portrait) and (max-width: 767px) {
  .modal {
    width: 100%;
    box-shadow: 0 0 0 0;
    height: 45em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .modal {
    box-shadow: 0 0 0 0;
    height: 25em;
    overflow: scroll;
    padding-bottom: 2em;
  }
}
.modal--content {
  padding-top: 2em;
  width: 100%;
  padding-left: 1.5em;
}
.modal--content h1 {
  width: 60%;
  position: initial;
  top: unset;
  left: unset;
  color: black;
}
@media (orientation: portrait) and (max-width: 767px) {
  .modal--content h1 {
    font-size: 2.2em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .modal--content h1 {
    font-size: 2.5em;
  }
}
.modal--content div.form--data {
  margin-top: 0.8em;
}
.modal--content div.form--data label {
  display: block;
  font-size: 1.6em;
  font-weight: 100;
  margin-bottom: 0.15em;
}
.modal--content div.form--data input {
  width: 76%;
  padding: 0.5em;
  border: 0.8px solid #ccc;
  outline: none;
  background-color: white;
}
@media (orientation: portrait) and (max-width: 767px) {
  .modal--content div.form--data input {
    width: 88%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .modal--content div.form--data input {
    width: 76%;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .modal--msg {
    width: 91%;
  }
}

.lightBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 0.3em;
  border: 1px solid black;
  height: 60em;
  width: 60em;
}
@media (orientation: portrait) and (max-width: 767px) {
  .lightBox {
    height: 30em;
    width: 30em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .lightBox {
    height: 30em;
    width: 30em;
  }
}
.lightBox--content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.lightBox--media {
  padding-top: 2em;
  width: 80%;
}
.lightBox--media .media {
  width: 100%;
}
.lightBox--media .media figure {
  margin: 0;
}
.lightBox--media .media img {
  height: 55em;
}
@media (orientation: portrait) and (max-width: 767px) {
  .lightBox--media .media img {
    height: 25em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .lightBox--media .media img {
    height: 25em;
  }
}
.lightBox--media .media video {
  height: 55em;
}
@media (orientation: portrait) and (max-width: 767px) {
  .lightBox--media .media video {
    height: 25em;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .lightBox--media .media video {
    height: 25em;
  }
}
.lightBox--media .media figcaption {
  padding-top: 0.2em;
}
.lightBox--media .media figcaption :nth-child(2) {
  display: none;
}
.lightBox--nav {
  width: 10%;
}
.lightBox--nav button {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

header.index {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
@media (orientation: portrait) and (max-width: 991px) {
  header.index {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  header.index {
    width: 100%;
  }
}
header.index .logo {
  width: 30%;
}
@media (orientation: portrait) and (max-width: 991px) {
  header.index .logo {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 1199px) {
  header.index .logo {
    width: 90%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  header.index .logo {
    width: 100%;
  }
}
header.index .logo img {
  height: 5em;
  margin-left: 2em;
}
@media (orientation: portrait) and (max-width: 991px) {
  header.index .logo img {
    margin: 1em;
    height: 4em;
  }
}
header.index .main--nav {
  width: 60%;
}
@media (orientation: portrait) and (max-width: 991px) {
  header.index .main--nav {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 1199px) {
  header.index .main--nav {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  header.index .main--nav {
    width: 100%;
  }
}

header.photographer .logo img {
  height: 3em;
}
@media (orientation: portrait) and (max-width: 991px) {
  header.photographer .logo img {
    height: 4em;
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
