<div class="media">
    <figure>
        <video tabindex="0" {controls} class="lightBox--open" data-id="{id}" aria-label="Titre de la vidéo: {title}">
            <source src="./public/media/{photographerId}/{video}" type="video/mp4">
            <p>
                Votre navigateur ne prend pas en charge les vidéos HTML5.
                Lien pour télécharger la vidéo: <a href="./public/media/{photographerId}/{video}" alt="Lien pour télécharger la vidéo">ici</a>
            </p>
        </video>
        <figcaption>
            <span aria-label="Titre de la vidéo: {title}">{title}</span>
            <span id="likes-{id}" aria-label="Aimer la vidéo {title} - {likes} j'aime">{likes} 
                <span class="likes" tabindex="0">
                    <i class="likes {likedClass}" data-media-id="{id}" aria-hidden="true" title="Aimer la vidéo {title}"></i>
                    <span class="sr-only" aria-labelledby="likes-{id}"></span>
                </span>
            </span>
        </figcaption>
    </figure>
</div>
