<div class="media lightBox--open">
    <figure>
        <video controls="controls">
            <source src="./public/media/{photographerId}/{video}" type="video/mp4">
            <p>
                Votre navigateur ne prend pas en charge les vidéos HTML5.
                Lien pour télécharger la vidéo: <a href="./public/media/{photographerId}/{video}" alt="Lien pour télécharger la vidéo">ici</a>
            </p>
        </video>
        <figcaption>
            <span>{title}</span>
            <span>{likes} <i class="fas fa-heart" aria-hidden="true"></i></span>
        </figcaption>
    </figure>
</div>
