<div class="lightBox" role="dialog" aria-label="Image closeup view">
    <div class="lightBox--container" role="dialog" aria-label="Image closeup view">
        <button class="lightBox--close btn btn--action btn--action--red btn--close" aria-label="Close dialog">&times;</button>
        <div class="lightBox--content">
        <div class="lightBox--nav">
            <button class="btn btn--action btn--action--red btn--previous" aria-label="Previous image">&lt;</button>
        </div>
        <div class="lightBox--media">
        </div>
        <div class="lightBox--nav">
            <button class="btn btn--action btn--action--red btn--next" aria-label="Next image">&gt;</button>
        </div>
        </div>
    </div>
</div>
