<div class="lightBox" role="dialog" aria-label="Zoom sur les médias">
    <div class="lightBox--container">
        <button class="lightBox--close btn btn--action btn--action--red btn--close" aria-label="Fermer la boîte de dialogue">&times;</button>
        <div class="lightBox--content">
        <div class="lightBox--nav">
            <button class="btn btn--action btn--action--red btn--previous" aria-label="Média précédent">&lt;</button>
        </div>
        <div class="lightBox--media">
        </div>
        <div class="lightBox--nav">
            <button class="btn btn--action btn--action--red btn--next" aria-label="Média suivant">&gt;</button>
        </div>
        </div>
    </div>
</div>
