<div class="card card__photographer">
    <div class="card--info">
        <h2 tabindex="0" class="card--name" aria-label="Photographe: {name}">{name}</h2>
        <div tabindex="0" class="card--localisation" aria-label="Ville: {city} - Pays: {country}" >{city}, {country}</div>
        <div tabindex="0" class="card--description" aria-label="Accroche: {tagline}">{tagline}</div>
        <nav tabindex="0" class="card--nav tags tags--left" aria-label="Navigation principale par tag">
            {htmlTags}
        </nav>
    </div>

    <div class="card--contact">
        <button class="modal--open btn btn--contact" aria-label="Contactez-moi">Contactez-moi</button>
    </div>

    <a class="card--link" href="#" tabindex="-1">
        <img class="card--image" src="./public/media/Photographers_ID/{portrait}" alt="Photo de {altText}" />
    </a>
</div>