<div class="card">
  <a class="card--link" href="photographer.html?id={id}" aria-label="Lien vers le photographe {name}">
    <img class="card--image" src="./public/media/Photographers_ID/{portrait}" alt="Photo de {altText}">
    <h2 class="card--name">{name}</h2>
  </a>
  <div class="card--localisation">{city}, {country}</div>
  <div class="card--description">{tagline}</div>
  <div class="card--price">{price}€/jour</div>
  <nav class="tags card--nav" aria-label="Card tag navigation">
    {htmlTags}
  </nav>
</div>