<div class="card card__photographer">
    <div class="card--info">
        <h2 class="card--name">{name}</h2>
        <div class="card--localisation">{city}, {country}</div>
        <div class="card--description">{tagline}</div>
        <nav class="card--nav tags tags--left" aria-label="Card tag navigation">
            {htmlTags}
        </nav>
    </div>

    <div class="card--contact">
        <button class="modal--open btn btn--contact">Contactez-moi</button>
    </div>

    <a class="card--link" href="#" alt="{name}" tabindex="-1">
        <img class="card--image" src="./public/media/Photographers_ID/{portrait}" alt="{altText}" />
    </a>
</div>