.btn {
    background-color: $color-secondary;
    color: white;
    @include font-texte;
    font-weight: 600;
    border: unset;
    border-radius: 0.3em;
    cursor: pointer;

    &--contact {
        padding-top: 0.8em;
        padding-bottom: 0.87em;
        padding-left: 0.5em;
        padding-right: 0.3em;
        width: 10.5em;
        height: 3.5em;
    }

    &--action {
        background-color: unset;
        font-size: 2.5em;
        
        &--red {
            color: $color-secondary;
            &:hover {
                color: $color-primary;
            }
        }

        &--white {
            color: white;
            &:hover {
                color: $color-secondary;
            }
        }
    }

    &--close {
        position: fixed;
        top: 0.5em;
        right: 0.5em;
    }

    &--modal {
        margin-top: 2em;
        padding: 1em;

        @include screen_max(mobile){
        position: relative;
        left: 50%;
        transform: translateX(-70%);
        right: 0;

        }
    }
}