.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.card {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    line-height: 1.5em;
    margin-top: 4em;
    text-align: center;

    @include screen_max(tablet){
        width: 100%;
    }
    
    &--image {
        height: 17em;
        width: 17em;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 2em;

        @include screen_max(mobile, landscape){
            height: 12em;
            width: 12em;
        }
    }

    &--name {
        color: $color-primary;
        @include font-texte;
        font-size: 2.5em;
        font-weight: 400;
        margin-bottom: 0.5em;

        @include screen_max(mobile, landscape){
            line-height: 0.9em;
        }
    }
    
    &--localisation {
        color: $color-secondary;
        @include font-texte;
        font-size: 1em;
    }
    
    &--description {
        color: black;
        @include font-texte;
        font-size: 0.8em;
        font-weight: 500;
    }
    
    &--price {
        color: $color-gray;
        @include font-texte;
        font-size: 0.8em;
        margin-bottom: 1.5em;
    }

    &--nav{
        margin-left: 0;
    }

    &__photographer {
        margin-top: 2em;
        padding-top: 2em;
        padding-bottom: 2em;

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: $color-gray-light;

        @include screen_max(tablet){
            background-color: white;
            line-height: 1em;
            width: 95%;
        }

        .card {

            &--name {
                @include screen_max(mobile, landscape) {
                    margin-bottom: 0.5em;
                }
            }

            &--info {
                text-align: left;
                padding-left: 2em;
                @include screen_max(desktop) {
                    order: 1;
                    width: auto;
                    padding-left: 0.5em;
                }
            }

            &--contact {
                align-self: flex-start;
                text-align: left;
            }

            &--link {
                width: 50%;
                padding-right: 2em;

                @include screen_max(desktop) {
                    order: 2;
                    width: auto;
                    padding-right: 0.5em;
                }

                @include screen-max (mobile, landscape) {
                    width: 20%;
                }
            }

            &--image {
                float: right;
                height: 10em;
                width: 10em;
                object-fit: cover;
                border-radius: 100%;
                
                @include screen_max(desktop){
                    height: 8em;
                    width: 8em;
                }

                @include screen_max(mobile, landscape){
                    height: 8em;
                    width: 8em;
                }
            }
        }
    }
}

.card--contact {

    @include screen_max(desktop){
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }

    @include screen_max(desktop, landscape){
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    
}

