
.medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    
    @include screen-max (mobile, landscape) {
        margin-top: 1em;
        justify-content: space-around;
    }
}

.media {
    width: 30%;

    @include screen_max (mobile){
        width: 100%;
    }

    @include screen (tablet){
        width: 50%;
    }

    figure {
        margin: 3em;

        @include screen-max (mobile, landscape) {
            margin: 0;
            margin-bottom: 1em;
        }
    }

    figcaption {
        font-size: 1.3em;
        font-weight: 500;
        padding-top: 0.5em;
        @include font-texte;
        text-align: left;
        color: $color-secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .fa-heart{
            border-color: $color-secondary 2em solid;
        }
    }

    img {
        height: 25em;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5em;

        @include screen-max (mobile, landscape) {
            height: 15em;
        }
    }

    video {
        height: 25em;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5em;

        @include screen-max (mobile, landscape) {
            height: 15em;
        }
    }

    .liked {
        color: $color-secondary;
    }

}