.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--content {
        position: relative;
        display: inline-block;
        color: white;
        background-color: $color-secondary;
        @include font-texte;
        font-weight: 500;
        font-size: 1.2em;
        width: 9em;
        padding: 1em;
        margin-left: 1em;
        
        &:hover .menu--items {
            display: block;
        }
    }

    &--items {
        display: none;
        position: absolute;
        color: white;
        background-color: $color-secondary;
        top: 3.1em;
        left: 0;
        z-index: 1;

        p {
            padding: 1em;
            width: 9em;
            border-top: 1px solid white;

            &:hover {
                font-weight: bold;
            }
        }
    }

    @include screen_max(mobile){
        display: none;
    }

}