
.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.photo {
    width: 30%;

    @include screen_max(tablet){
        width: 50%;
    }

    @include screen_max(mobile){
        width: 100%;
    }

    figure {
        margin: 3em;
    }

    figcaption {
        font-size: 1.3em;
        font-weight: 500;
        padding-top: 0.5em;
        @include font-texte;
        text-align: left;
        color: $color-secondary;
    }

    img {
        height: 25em;
        width: 25em;
        object-fit: cover;
        border-radius: 0.5em;
    }
}