html {
    /* 10px = 1em */
    font-size: 62.5%;
}

body {
    font-size: 1.2em;
}

h1 {
    font-size: 1.8em;
    @include font-texte;
    color: $color-secondary;
    font-weight: 500;
    float: right;
    position: relative;
    top: -2em;
    right: 3em;
}
