html {
    /* 10px = 1em */
    font-size: 62.5%;
}

body {
    font-size: 1.2em;
}

h1 {
    font-size: 2.8em;
    @include font-texte;
    color: $color-secondary;
    font-weight: 200;
    float: right;
    position: relative;
    top: -1.6em;
    right: 1em;
    left: -3em;
}
