header.index {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;

    @include screen_max(tablet){
        width: 100%;
    }

    @include screen_max(mobile, landscape){
        width: 100%;
    }

    .logo {
        width: 30%;

        @include screen_max(tablet){
            width: 100%;
        }

        @include screen_max(desktop, landscape){
            width: 90%;
        }

        @include screen_max(mobile, landscape){
            width: 100%;
        }

        img {
            height: 5em;
            margin-left: 2em;
        
            @include screen_max(tablet){
                margin: 1em;
                height: 4em;
            }
        }
    }

    .main--nav {
        width: 60%;

        @include screen_max(tablet){
            width: 100%;
        }

        @include screen_max(desktop, landscape){
            width: 100%;
        }

        @include screen_max(mobile, landscape){
            width: 100%;
        }
        
    }

}

