header.photographer {

    .logo {
        img {
            height: 3em;
        
            @include screen_max(tablet){
                height: 4em;
                order: 3;
            }
        }
    }

}

.slideShow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-between ;
    justify-content: center;
}

img > .photo{
    height: 10em;
    object-fit: cover;
}

.photo{
    width: 30%;
}