// Applique la media query pour le breakpoint demandé
// Paramètres
//   breakpoint = nom du breakpoint dans la map des breakpoints
//   width = largeur souhaitée
//     min : seulement la largeur minimum
//     max : seulement la largeur maximum
//     both (défaut) : largeur minimum et maximum
//   orientation = orientation du viewport
//     portrait = mode portrait
//     landscape = mode paysage
// Erreurs
//   - Si le paramètre width a une valeur différente de both, min, max
//   - Si le paramètre orientation a une valeur différente de portrait, landscape
//   - Si le breakpoint n'existe pas dans la map des breakpoint
@mixin screen ($breakpoint, $width: both, $orientation: portrait) {
    
    // Vérification du paramètre width et valuation des variables useMin/useMax
    $useMin: true;
    $useMax: true;
    @if $width == both {
        // nothing to do
    } @else if $width == min {
        $useMax: false;
    } @else if $width == max {
        $useMin: false;
    } @else {
        @error "mixin screen / width #{$width} is invalid and must be one of [both, min, max].";
    }

    @if $orientation == portrait {
        // nothing to do
    } @else if $orientation == landscape {
        // nothing to do
    } @else {
        @error "mixin screen / width #{$orientation} is invalid and must be one of [portrait, landscape].";
    }

    //Application de la media query en fonction des variables useMin/useMax
    @if map-has-key($breakpoints, $breakpoint) {
        
        $viewport: map-get($breakpoints, $breakpoint);
        $min: map-get($viewport, min);
        $max: map-get($viewport, max);

        @if ($useMin) and ($useMax) and ($min) and ($max) {
            @media (orientation : $orientation) and (min-width: $min) and (max-width: $max) {
                @content;
            }

        } @else if ($useMin) and ($min) {
            @media (orientation : $orientation) and (min-width: $min) {
                @content;
            }

        } @else if ($useMax) and ($max) {
            @media (orientation : $orientation) and (max-width: $max) {
                @content;
            }

        } @else {
            @content
        }

    } @else {
        @error "mixin screen / breakpoint #{$breakpoint} does not exists in breakpoints map.";
    }
}

// Raccourcis pour appeler le mixin screen

@mixin screen-min ($breakpoint, $orientation: portrait) {
    @include screen($breakpoint, min, $orientation) {
        @content
    }
}

@mixin screen-max ($breakpoint, $orientation: portrait) {
    @include screen($breakpoint, max, $orientation){
        @content
    }
}

@mixin font-texte {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin font-gray {
    color: $color-gray;
    background-color: $color-gray-light;
}
