// container width

$container-width: 1400px;

// colors

$color-primary: #DB8876;
$color-primary-font: #901c1c;

$color-secondary: #901C1C;
$color-secondary-font: #DB8876;

$color-gray: #525252;
$color-gray-light: #FAFAFA;

// breakpoints

$breakpoints: (
  mobile: (
    max: 767px,
  ),
  tablet: (
    min: 768px,
    max: 991px,
  ),
  desktop: (
    min: 992px,
    max: 1199px,
  ),
  large: (
    min: 1200px,
  ),
);
